
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//coreui
//@import '~@coreui/coreui/dist/css/coreui.min.css';
@import '~@coreui/coreui/scss/coreui';
@import '~@coreui/icons/scss/free';
@import "~flag-icon-css/css/flag-icon.min.css";
@import '~simple-line-icons/css/simple-line-icons';

//datatables
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';
@import '~datatables.net-buttons-dt/css/buttons.dataTables.css';
@import '~datatables.net-select-bs4/css/select.bootstrap4.min.css';


//select2
@import '~select2/dist/css/select2.min.css';

//fontawesome free
@import "~@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

//fontawesome
@import "~font-awesome/css/font-awesome.min.css";


//dropzone
@import "~dropzone/dist/dropzone.css";

//toast
@import '~toastr';

//datetimepicker
@import "~eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css";


.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
