.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.app, app-dashboard, app-root {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 70vh;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 1rem;
}

.app-header .navbar-toggler {
    min-width: 50px;
    padding: 0rem 1.2rem;
    /* margin-bottom: 0.75rem; */
}

.app, app-dashboard, app-root {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 80vh;
}

.main .container-fluid {
    padding: 0 2px;
}

@media (min-width: 1200px){
    .app-header .navbar-toggler{min-width:50px;padding:0rem 1.2rem;margin-bottom:0.60rem;}
}

@media (max-width: 991.98px) {
    .app-header .navbar-toggler{min-width:50px;padding:0rem 1.2rem;margin-bottom:0rem;}
}

@media (min-width: 768px){
    .pb-md-2, .py-md-2 {
        padding-bottom: 0.5rem !important;
    }
}


@media (min-width: 992px){
    .brand-minimized .app-header .navbar-brand {
        width: 100px;
        background-color: transparent;
    }
    /*.app-header .navbar-toggler{min-width:50px;padding:0rem 1.2rem;margin-bottom:0rem;}*/
}
/*ahora tiene que comitear*/
